body {
  position:relative;
  background-color: #234280;
  color: #3a3a3a;
}

body .balloon {
  position: fixed;
  opacity: 0.5;
  z-index: -1;
}

header h1 {
  padding-top: 45px;
  padding-left: 5px;
  background-image: url('/static/img/cheating-header.png');
  background-repeat: no-repeat;
  margin-left: 10px;
  color: #fcfbf3;
  font-size: 1.8em;
}


header{
  margin-top 20px;
}

#cheat_explain, #cheatmain .span4{
  border-radius: 3px;
  box-shadow: 5px 5px #3a3a3a;
  background-color: #fcfbf3;
}
h2, p, #cheatmain input{
  margin: 20px 10px;
}

.cheat_letters {
  background-color: #234280;
  text-align: center;
}

.cheat_letters h1 {
  text-transform: uppercase;
}
.pmchart {
  position: relative;
  text-align: center;
  border-top: 1px dashed gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  height: 100px; 
  border-radius: 0px;
  margin: 30px 10px 10px 10px;
}

.pmchart div {
  border-radius: 0px;
}

.pmchart > p {
  color: gray;
  margin: 0; 
  position: absolute; 
  right:0%; 
  bottom: 100%;
  font-size: 0.8em;
}

.pmcolumn {
  position: relative;
  height: 100%;
  float: left;
}
.pmcolumn p {
  margin: 0px;
  font-size: 0.8em;
  position: relative; 
}
.pmcolumn div {
  text-align: center;
  position: absolute; 
  left: 0%; 
  bottom: 0%;
  width: 100%;
}
.pmcolumn .columndata {
  background-color: #b9444f;
}

.cheat_words {
}

