.container{
  padding-top: 20px;
  max-width: 640px;
}
.share{
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 30px 0;
  margin: 15px 0;
}
.share h3{
  margin: 0;
  line-height: 30px;
}
.share i{
  margin: 0 15px ;
}
.author{
  color: #999;
}
.post{
  margin: 45px 0;
}
.post h1{
  margin: 15px 0;
}
.post h1 a, .post h2 a{
  color: #333;
}
.post .author{
  margin: 30px 0;
}
.post img{
  margin-top: 8px;
  margin-bottom: 8px;
}
pre code {
  font-size: 0.8em;
  line-height: 1em;
}
