{% extends "layout.html" %}
{% block head %}
<title>Joseph Turner's Blog</title>
<style>
.container{
  padding-top: 20px;
  max-width: 640px;
}
</style>
{% endblock %}
{% block body %}
  <div class="container">
        {% for post in posts %}
          {{post.content | safe}}
          <small>Posted by Joseph on {{post.date}} | <a href="post/{{post.slug}}">Permalink</a></small>
          <hr />
        {% endfor %}
        <p>Page: 
        {% for p in range(nr_pages) %}
          <a href="/blog/page/{{p}}">
            {% if page_id == p %}<strong>{% endif %}
            {{p + 1}}
            {% if page_id == p %}</strong>{% endif %}
          </a>
        {% endfor %}
  </div>
{% endblock %}
{% block scripts %}
{% endblock %}
