{% extends "layout.html" %}
{% block head %}
  <title>Cheating with Friends</title>
  <link rel="stylesheet" href="/static/css/cheating.css">
{%endblock %}
{% block body %}
  <div class='balloon'></div>
  <div class='balloon'></div>
  <div class='balloon'></div>
  <div class='balloon'></div>
  <div class="container clearfix">
    <header>
      <h1>Cheating with Friends!</h1>
    </header>
    <div role="main">
        <div id="cheatmain" class="clearfix">
        </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="/static/_JS/cheating-plugins.js"></script>
  <script src="/static/_JS/cheating-script.js"></script>
{% endblock %}
