{% extends "layout.html" %}
{% block head %}
    <title>
        The Joseph Turner's Website
    </title>
    <meta name="Description" content="Joseph Turner's personal website and idle-time playground" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css" type="text/css" media="screen" title="no title" charset="utf-8" />
{% endblock %}
{% block body %}
<div id="content_body" class="body-centered">
    <div class="project">
        <div class="project-head">
            <h1>
                About Me
            </h1>
            <a href="/blog/post/about-me" title="About Me">
                <img src="/static/_IMG/aboutme-small.png" width='240' height='201' />
            </a>
        </div>
        <p>
            My outlook and professional interests
        </p>
        <p class="technology-list">
            In lieu of a CV
        </p>
    </div>
    <div class="project">
        <div class="project-head">
            <h1>
                My Blog
            </h1>
            <a href="/blog" title="Joseph Turner's Blog">
                <img src="/static/_IMG/blog-small.png" width='240' height='240' />
            </a>
        </div>
        <p>
            Musings on programming, entrepreneurship, or whatever else I've been thinking about 
        </p>
        <p class="technology-list">
            Python + Flask + Markdown 
        </p>
    </div>
    <div class="project">
        <div class="project-head">
            <h1>
                FatBatt
            </h1>
            <a href="http://fatbatt.com" title="FatBatt" style='text-align: center;'>
                <img src="/static/_IMG/fatbatt-logo-240.png" width='240' height='240'/>
            </a>
        </div>
        <p>
            FatBatt greatly improves power management choice architecture for laptops
        </p>
        <p class="technology-list">
            Python
        </p>
    </div>
    <div class="project">
        <div class="project-head">
            <h1>
                Silvi
            </h1>
            <a href="http://getsilvi.com" title="Silvi">
                <img src="/static/_IMG/silvi-logo-big.png" width='220' height='121' style='padding: 60px 10px;'/>
            </a>
        </div>
        <p>
            Organize your information into trees for ease of discovery and effortless collaboration.
            <a href="http://getsilvi.com/turnerj9/Documentation-and-Info">Learn more.</a>
        </p>
        <p class="technology-list">
            Python + flask + coffeescript
        </p>
    </div>
    <div class="project">
        <div class="project-head">
            <h1>
                Granola
            </h1>
            <a href="http://grano.la" title="Granola">
                <img src="/static/_IMG/granola-small.png" width='240' height='240' />
            </a>
        </div>
        <p>
            Granola intelligently reduces the power consumption of PCs, laptops, and servers
        </p>
        <p class="technology-list">
            C++ + Python
        </p>
    </div>
    <div class="project">
        <a href="http://github.com/josephturnerjr/Cheating-With-Friends" title="Cheating with Friends on Github">
            <img class='github' src="/static/_IMG/ForkMe_Blk.png" />
        </a>
        <div class="project-head">
            <h1>
                Cheating with Friends
            </h1>
            <a href="http://thejosephturner.com/cheatingwithfriends" title="Cheating with Friends">
                <img src="/static/_IMG/cwf.png" width='240' height='240' />
            </a>
        </div>
        <p>
            Polyglot Hanging with Friends solvers 
        </p>
        <p class="technology-list">
            Python<br />
            Node.js + coffeescript<br />
            jQuery + coffeescript + HTML5 Boilerplate
        </p>
    </div>
    <div class="project">
        <a href="http://github.com/josephturnerjr/termbar" title="TermBar on Github">
            <img class='github' src="/static/_IMG/ForkMe_Blk.png" />
        </a>
        <div class="project-head">
            <h1>
                TermBar
            </h1>
        </div>
        <p><pre style='font-size: 0.5em;'>
                       Draw Ascii Charts with TermBar!
                ____________________|____________________
         Value !                    |######              ! 10
 Another Value !                    |#############       ! 20
Negative Value !####################|                    ! -30
 Pipe data in! !                    |####################! 30
                --------------------|--------------------
              -30                                       30
        </pre></p>
        <p>
            Draw Ascii Charts with Termbar!
        </p>
        <p class="technology-list">
            Python
        </p>
    </div>
    <div class="project">
        <a href="http://github.com/josephturnerjr/crindy" title="crindy on Github">
            <img class='github' src="/static/_IMG/ForkMe_Blk.png" />
        </a>
        <div class="project-head">
            <h1>
                crindy
            </h1>
        </div>
        <p>
            Dead-simple timer based eventloop programming Python
        </p>
        <p class="technology-list">
            Python
        </p>
    </div>
    <div class="project">
        <a href="http://github.com/josephturnerjr/mandelbrot.js" title="ScaleFree (Friendstellation) on Github">
            <img class='github' src="/static/_IMG/ForkMe_Blk.png" />
        </a>
        <div class="project-head">
            <h1>
               mandelbrot.js
            </h1>
            <a href="/mandelbrot" title="mandelbrot.js">
                <img src="/static/_IMG/mandelbrot.jpg" width='240' height='240' />
            </a>
        </div>
        <p>
            Visualize the Mandelbrot in-browser with zoom
        </p>
        <p class="technology-list">
            Javascript + HTML5 Canvas + pixel manipulation
        </p>
    </div>
    <div class="project">
        <a href="http://github.com/josephturnerjr/simpleline" title="simpleline on Github">
            <img class='github' src="/static/_IMG/ForkMe_Blk.png" />
        </a>
        <div class="project-head">
            <h1>
                simpleline 
            </h1>
            <a href="/simpleline" title="simpleline">
                <img src="/static/_IMG/simple.png" width='240' height='190' />
            </a>
        </div>
        <p>
            Polyline simplification for HTML5 canvas
        </p>
        <p class="technology-list">
            Coffeescript + HTML5 Canvas
        </p>
    </div>
    <div class="project">
        <div class="project-head">
            <h1>
                Pro!(de)file
            </h1>
            <a href="/prodefile" title="Pro!(de)file">
                <img src="/static/_IMG/prodefile.jpg" width='240' height='240' />
            </a>
        </div>
        <p>
            Crop, create, and upload Facebook profile image banners
        </p>
        <p class="technology-list">
            Javascript + Facebook Graph API + PHP + GD
        </p>
    </div>
    <div class="project">
        <a href="http://github.com/josephturnerjr/boost-python-tutorial" title="Boost Python Tutorial on Github">
            <img class='github' src="/static/_IMG/ForkMe_Blk.png" />
        </a>
        <div class="project-head">
            <h1>
                Boost::Python Embedding Tutorial
            </h1>
        </div>
        <p>
            Ongoing tutorial on embedding Python in C++ applications with boost::python
        </p>
        <p>
            <a href="/blog/post/embedding-python-in-c-applications-with-boostpython-introduction">Introduction</a>, 
            <a href="/blog/post/embedding-python-in-c-applications-with-boostpython-part-1">Part 1</a>, 
            <a href="/blog/post/embedding-python-in-c-applications-with-boostpython-part-2">Part 2</a>, 
            <a href="/blog/post/embedding-python-in-c-applications-with-boostpython-part-3">Part 3</a>, 
            <a href="/blog/post/embedding-python-in-c-applications-with-boostpython-part-4">Part 4</a>
        </p>
        <p class="technology-list">
            C++ + Python + Boost::Python
        </p>
    </div>
    <div class="project">
        <a href="http://github.com/josephturnerjr/granola-wp" title="granola-wp on Github">
            <img class='github' src="/static/_IMG/ForkMe_Blk.png" />
        </a>
        <div class="project-head">
            <h1>
                granola-wp
            </h1>
        </div>
        <p>
            Display your <a href="http://grano.la/community/granola_share.php">Granola Share</a> data as a Wordpress sidebar widget
        </p>
        <p class="technology-list">
            PHP + jQuery
        </p>
    </div>
    <div class="project">
        <a href="https://github.com/josephturnerjr/urllib2.VerifiedHTTPS" title="urllib2.VerifiedHTTPS on Github">
            <img class='github' src="/static/_IMG/ForkMe_Blk.png" />
        </a>
        <div class="project-head">
            <h1>
                Verified HTTPS via urllib2
            </h1>
        </div>
        <p>
            Do certificate- and domain-verified HTTPS communication with urllib2 <a href="http://thejosephturner.com/blog/2011/03/19/https-certificate-verification-in-python-with-urllib2/">(read more here)</a>
        </p>
        <p class="technology-list">
            Python
        </p>
    </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/_JS/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="/static/_JS/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/static/fp.js"></script>
{% endblock %}
