{% extends "layout.html" %}
{% block head %}
    <title>
        The Joseph Turner's Website
    </title>
    <meta name="Description" content="Joseph Turner's personal website and idle-time playground" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style type='text/css'>
      .project{
        height: 280px;
        width: 280px;
        text-align: center;
        float: left;
        margin: 20px;
        position: relative;
      }
      .p0{
        background: #fff;
      }
      .p1{
        background: #ccc;
      }
      .p2{
        background: #333;
      }
      .p3{
        background: #666;
      }
      .p4{
        background: #999;
      }
      .p5{
        background: #000;
      }
      .light a:link, .light a:visited, .light a:hover, .light a:active {
          color: white;
          text-decoration: none;
      }
      .dark a:link, .dark a:visited, .dark a:hover, .dark a:active {
          color: #333;
          text-decoration: none;
      }
      .project-name{
        position: absolute;
        display: table;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
      }
      .project-name a{
        display: table-cell;
        text-align: center;
        margin: 0;
        vertical-align: middle;
      }
      .container{
        max-width: 960px;
      }
      .holder{
        padding: 20px 0;
      }
    </style>
{% endblock %}
{% block body %}
<div class='holder clearfix p1'>
<div class="container">
    <div class="project p0 dark">
      <div class="project-img">
        <a href="/blog/post/about-me" title="About Me">
            <img src="/static/_IMG/aboutme-small.png" width='280' height='280' />
        </a>
      </div>
      <div class='project-name hidden'>
        <a href="/blog/post/about-me" title="About Me">
        <h1>
            About Me
        </h1>
        </a>
      </div>
    </div>
    <div class="project p3 light">
      <div class="project-img hidden">
        <a href="/blog" title="Joseph Turner's Blog">
            <img src="/static/_IMG/blog-small.png" width='280' height='280' />
        </a>
      </div>
      <div class='project-name'>
        <a href="/blog" title="Joseph Turner's Blog">
        <h1>
            Blog
        </h1>
        </a>
      </div>
    </div>
    <div class="project p2 light">
      <div class="project-img">
        <a href="http://github.com/josephturnerjr" title="Joseph Turner's Github">
          <i style='font-size: 280px;' class='icon-github icon-4x'></i>
        </a>
      </div>
      <div class='project-name hidden'>
        <a href="http://github.com/josephturnerjr" title="Joseph Turner's Github">
        <h1>
            Projects<br/>(full list)
        </h1>
        </a>
      </div>
    </div>
    <div class="project p3 light">
      <div class="project-img hidden">
        <a href="http://fatbatt.com" title="FatBatt">
            <img src="/static/_IMG/fatbatt-logo-240.png" width='240' height='240' style='padding: 20px 0;'/>
        </a>
      </div>
      <div class='project-name'>
        <a href="http://fatbatt.com" title="FatBatt" style='text-align: center;'>
        <h1>
            FatBatt
        </h1>
        </a>
      </div>
    </div>
    <div class="project p2 light">
      <div class="project-img">
        <a href="http://yellowcapsoftware.com" title="YellowCap | CRM software for landscapers">
          <img src="/static/_IMG/yellowcap.png" width='220' height='138' style='padding: 71px 0;'/>
        </a>
      </div>
      <div class='project-name hidden'>
        <a href="http://yellowcapsoftware.com" title="YellowCap | CRM software for landscapers">
        <h1>
               YellowCap 
        </h1>
        </a>
      </div>
    </div>
    <div class="project p0 dark">
      <div class="project-img hidden">
            <a href="http://getsilvi.com" title="Silvi">
                <img src="/static/_IMG/silvi-logo-big.png" width='220' height='121' style='padding: 85px 10px;'/>
        </a>
      </div>
      <div class='project-name'>
            <a href="http://getsilvi.com" title="Silvi">
        <h1>
                Silvi
        </h1>
        </a>
      </div>
    </div>
    <div class="project p5 light">
      <div class="project-img">
            <a href="/mandelbrot" title="mandelbrot.js">
                <img src="/static/_IMG/mandelbrot.jpg" width='280' height='280' />
        </a>
      </div>
      <div class='project-name hidden'>
            <a href="/mandelbrot" title="mandelbrot.js">
        <h1>
          mandlebrot.js
        </h1>
        </a>
      </div>
    </div>
    <div class="project p0 dark">
      <div class="project-img hidden">
            <a href="/cheatingwithfriends" title="Cheating with Friends">
                <img src="/static/_IMG/cwf.png" width='280' height='280' />
        </a>
      </div>
      <div class='project-name'>
            <a href="/cheatingwithfriends" title="Cheating with Friends">
        <h1>
                Cheating with Friends
        </h1>
        </a>
      </div>
    </div>
    <div class="project p3 light">
      <div class="project-img">
            <a href="/simpleline" title="simpleline">
                <img src="/static/_IMG/simple.png" width='280' height='280' />
        </a>
      </div>
      <div class='project-name hidden'>
            <a href="/simpleline" title="simpleline">
        <h1>
          simpleline.js
        </h1>
        </a>
      </div>
    </div>
</div>
</div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/_JS/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="/static/_JS/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.project').mouseenter(function(e){
          $(this).find('.project-img').toggleClass('hidden');
          $(this).find('.project-name').toggleClass('hidden');
        }).mouseleave(function(){
          $(this).find('.project-img').toggleClass('hidden');
          $(this).find('.project-name').toggleClass('hidden');
        });
      });
    </script>
{% endblock %}
