{% extends "layout.html" %}
{% block head %}
    <style type="text/css">
        body{
            margin: 0px;
            padding: 0px;
            font-family: "Helvetica", "Arial", sans-serif;
        }
        h1{
            margin: 0px;
        }
        #mbheader{
            margin: 0px;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 10px;
        }
        #mbtitle{
            margin-left: auto;
            margin-right: auto;
        }
        .content-body{
            margin-top: 20px;
            position: relative;
        }
        #background{
            border-radius: 8px;
        }
        #update_div{
            text-align: center;
        }
        *{
            margin: 0px;
            padding: 0px;
        }
    </style>
    <title>Mandelbrot Set</title>
{% endblock %}
{% block body %}
<div id="mbheader">
    <div id="mbtitle" class='container'>
        <h1>Mandelbrot Set</h1>
        <p>Javascript + HTML5 canvas pixel manipulation</p><br />
        <p>click + drag to zoom. kind of cool. don't scroll though.</p>
    </div>
</div>
<div class='content-body container'>
  <div class='row-fluid'>
    <div class='span3'>
    <div id="update_div">
    </div>
    </div>
    <div class='span9'>
    <canvas id="background" width="700" height="400"></canvas>
    </div>
  </div>
</div>
    <script type="text/javascript" src="/static/_JS/jquery.js"></script>
    <script type="text/javascript" src="/static/_JS/mbrot.js"></script>
{%endblock%}
